@model HomeTask01.Models.Major

<form asp-action="Detail" method="post" asp-controller="Student">

    <div class="mb-3">
        <label asp-for="ID" class="form-label"></label>
        <input asp-for="ID" class="form-control" />
        <span asp-validation-for="ID" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Department" class="form-label"></label>
        <input asp-for="Department" class="form-control" />
        <span asp-validation-for="Department" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Credits" class="form-label">Credits Completed</label>
        <input asp-for="Credits" class="form-control" />
        <span asp-validation-for="Credits" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CGPA" class="form-label"></label>
        <input asp-for="CGPA" class="form-control" />
        <span asp-validation-for="CGPA" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}